
.mainflex {
  display: flex;
  flex-direction: row;
}


.buttons {
padding: 10px;
}

#video-explanation {
  width: 820px;
  padding: 10px;
}

.links {
  padding: 10px;
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 23px;
}

.buttons button{
display: inline-flex;
color: black;
font-family: 'Helvetica';
font-size: 13px;
margin-top: 2px;
margin-left: 1px;
cursor: pointer;

}


#exhibition {
  color: red;
  padding-bottom:25px;
}

#explanation{
padding-bottom:10px;
}

#intro a {
  color: grey;
}

#intro {
  padding-bottom:10px;
}

#resize a {
  color: #CD4848;
}

#resize {
  padding-bottom:10px;
}

#banner a {
  color: #0060C0;
}

#banner {
  padding-bottom:10px;
}

#feedback a {
  color: #71086A;
}

#feedback {
  padding-bottom:10px;
}

#seating a {
  color: #C08000;
}

#seating {
  padding-bottom:10px;
}

#briefcomment a {
  color:#004000;
}

#briefcomment {
  padding-bottom:10px;
}

#bowling a {
  color:#600020;
}

#bowling {
  padding-bottom:10px;
}

#diaries a {
  color:#9678a1;
}

#diaries {
  padding-bottom:25px;
}

#mail {
color:red;
}
#video-explanation {
  width: 65vw;
}

@media screen and (max-width:1099px) {
  .mainflex {
    flex-direction: column;
  }

  #video-explanation {
    width: 100vw;
  }

}
